<div class="task">
    <app-table [table]="table" (onRowClick)="rowClicked($event)"></app-table>
    <div [@openClose]="displayInfo ? 'open' : 'closed'" (@openClose.done)="onAnimationDone($event)" class="info">
        <ng-container *ngIf="selectedUser">
            <form class="post-form" [formGroup]="form" (ngSubmit)="submit()">
                <h2>{{selectedUser.name}}</h2>
                <input id="title" placeholder="Post title" type="text" formControlName="title" required autofocus>
                <textarea id="body" placeholder="Post body" formControlName="body" required rows="10"></textarea>
                <div class="post-form__buttons">
                    <button class="button--failure" type="button" (click)="unselectUser()">Unselect user</button>
                    <button class="button--success" type="submit" [disabled]="form.invalid">Submit post</button>
                </div>
            </form>
        </ng-container>
    </div>
</div>