.info {
    width: 100%;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px;

    & > * {
        width: 100%;
    }

    h2 {
        width: auto;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .post-form {
        padding: 0;
    }
}