@import '../../../../theme/variables.scss';

/* To me, tables are never going to really be responsive. For a mobile screen, you always have to compromise something, either information or style.
*
* What I'd do instead of a table for a mobile screen is implementing something similar to `<details>`, where you show a summary and the rest of
* the information is hidden unless the user clicks on it to display it. Here you'd still be compromising speed, though, as it'd be quicker for
* the user to have all the information at once.
*/

.table {
    width: 100%;
    border-collapse: collapse;

    &, &__cell {
        border: 1px solid;
    }

    &__cell {
        padding: 5px 10px;
    }

    &__header {
        text-align: left;
    }

    &__row {
        &:nth-child(even) {
            background-color: $primary-light-color;
        }

        &--highlighted {
            background-color: $primary-dark-color !important;
            color: white;
        }
    }
}