@import './variables.scss';

/*
* Here we could pass some parameters to decide the color, even declare an array with the possible types (primary, secondary, info, etc.), and
* only accept one of them, having `primary` by default.
* 
* Then, based on the main color hexadecimal, we could also create a function to determine if the text should be in black or white.
*
* Same could be done with sizes.
*/

@mixin button($dark: false) {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: none;
    color: if($dark, black, white);
    transition : border 150ms ease-out;

    &:hover {
        border-color: if($dark, black, white);
        font-weight: bold;
        cursor: pointer;
    }

    &:disabled {
        border-color: transparent;
        font-weight: normal;
        cursor: default;
        opacity: 0.6;
    }
}