$primary-color: #8456a5;
$primary-light-color: rgb(233, 214, 246);
$primary-dark-color: #5d3d73;
$success-color: #149a0d;
$success-light-color: #18bf0f;
$success-dark-color: #0e7309;
$failure-color: #b72e35;
$failure-light-color: #ff3a44;
$failure-dark-color: #791b20;
$warn-color: #faac30;
$warn-light-color: #e09b2d;
$warn-dark-color: #bb8226;
$info-color: #2b9bf7;
$info-light-color: #278cde;
$info-dark-color: #2273b5;