@import '../theme/variables.scss';
@import '../theme/mixins.scss';

/* Using BEM as an example. */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: $primary-color;

    &__buttons {
        display: flex;
        gap: 10px;
    }
}

.main--overlay {
    overflow: hidden;
}