<main class="main" [ngClass]="{'main--overlay': (overlay$ | async) }">
  <app-overlay [show]="overlay$ | async"></app-overlay>
  <div class="topbar">
    <div class="topbar__buttons">
      <button [routerLink]="''" class="button">Home</button>
      <button [routerLink]="'task'" class="button">Task</button>
    </div>
    <select class="topbar__select" id="lang" name="lang">
      <option value="en" selected>En</option>
      <option value="es">Es</option>
    </select>
  </div>
<router-outlet></router-outlet>
</main>